.container {
    padding: 0;
    margin: 0;
    display: flex;
    width: auto;
    height: 280px;
    background: yellow;
    align-items: center;
}

.item {
    height: 107px;
    width: 107px;
    margin-right: 6px;
    background: purple;
}

li {
    list-style-type: none;
}